@import 'color.css';

/* BUTTON STYLES */
.menu-btn {
    background-image: url('../assets/img/menu-icon.svg');
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    background-color: inherit;
    color: white;
    background-size: 86%;
    background-position: center center;
    border: none;
}
.btn {
    border: None;
    padding: 0.6rem;
    border-radius: 5px;
}
.btn-primary {
    background: var(--btn-primary-color);
    color: var(--text-color);
    font-weight: bold;

}