/* COLORS */
:root {
    --background-color: #F8F8F8; 
    --component-color: #011126;
    --text-color: #000;
    --dashboard-color: #708090;
    --nav-color: #fff;
    --active-color: #51768C;
    --btn-primary-color: #96BFD9;
    --btn-danger-color: #b80f0a; 
    --hover-color: #51768C;
}