@import 'color.css';

/* Styling User Dashboard */
.dashboard-heading {
    padding: 0.4rem 1.2rem;
}
.dashboard-heading h1 {
    color: var(--component-color);
    border-bottom: solid 1px rgba(0, 0, 0, 0.4);
    display: inline-block;
    font-weight: 400;
}
.dashboard-heading p {
    color: var(--dashboard-color);
    text-transform: capitalize;
}
.user-dashboard {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: .2rem;
    border-bottom: solid .0625rem rgba(0, 0, 0, 0.2);
    
}
.user-dashboard .card {
    text-align: center;
}
.dashboard-card p.text-primary {
    font-weight: 500;
    text-decoration: underline;
}
.dashboard-card .question-number {
    font-weight: bold;
    font-size: 1.5rem;
}

.profile-pic img {
    border-radius: 50%;
    text-align: center;
}

/* Styling Top Questions Feed Table */
.top-questions {
    margin-bottom: 5%;
}
.question-feed {
    width: 100%;
   
}
.question-feed-title {
    border-bottom: solid .0625rem rgba(0, 0, 0, 0.2);
    width: 100%;
    text-align: center;
    display: block;
    margin-bottom: 1.25rem;
}
.question-feed .top-questions {
    width: 100%;
    border-collapse: collapse;
    border: solid .0625rem var(--component-color);
    text-align: left;
    
}
.top-questions thead {
    background: var(--component-color);
    color: var(--nav-color);
    
}
.top-questions tbody, tr, th {
    border-bottom: solid .0625rem var(--component-color);
    padding: 0.6rem 0;
}
.top-questions tbody, tr, td {
    padding: 0.6rem 0;
}