.meetups {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    height: 85%;
    grid-column-gap: 10px;
    overflow: auto;
}
.meetup-text {
    text-align: center;
    border-bottom: solid 2px rgba(0, 0, 0, 0.1);
}
.footer {
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
}