/*------------------------------------------
  Media Queries widths.
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
--------------------------------------------*/
@media only screen and (min-width:480px) and (max-width: 768px){
    .navigation-menu {
        position: relative;
        display: flex;
        justify-content: space-between;
    }
    .text-nav {
        display: flex;
        padding-left: 10px;
    }
    .navlinks {
        display: flex !important;
        flex-direction: row;
        justify-content: flex-end;
    }

    .navlink {
        padding: 0.8rem;
        border: none;
    }
    
    .menu-btn {
        display: none;
    }
    .showcase {
        width: 100%;
        top: 0;
        position: relative;
        display: inline-block !important;
        height: 200px;
        background: linear-gradient(-90deg, #43C6AC, #191654);
        clear: both;
    }
    
}

@media only screen  and (min-width : 768px) {
    /* Navigation Menu Styling */
    .navigation-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
    }
    .text-nav {
        display: flex;
        padding-left: 10px;
    }
    .navlinks {
        display: flex !important;
        flex-direction: row;
        justify-content: flex-end;
    }

    .navlink {
        padding: 0.8rem;
        border: none;
    }
    
    .menu-btn {
        display: none;
    }
    /* Showcase Styling. */
    .showcase {
        width: 100%;
        top: 0;
        position: relative;
        display: inline-block !important;
        height: 200px;
        background: linear-gradient(-90deg, #43C6AC, #191654);
        clear: both;
        text-align: center;
    }
    .showcase h2 {
        display: inline-block;
        font-size: 1.5rem;   
    }
    .showcase-details {
        margin-top: 5%
    }
    /* Registration Form Styling. */
    .container {
        width: 100%;
        display: flex;
        justify-content: center;
        
    }
    .register {
        width: 40%;
        height: 100%;
        margin: 5% !important;

    }
   
}
@media only screen  and (min-width : 1024px) {
    footer {
        position: fixed !important;
        bottom: 0;
        width: 100%;
        min-height: 5%;
        background: var(--component-color);
        text-align: center;
        color: var(--nav-color);
        padding: .6rem;
        overflow: none;
    }
}

