/*------------------------------------------
  Media Queries widths.
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
--------------------------------------------*/
@media all and (min-width:480px) and (max-width: 768px){
    .navigation-menu {
        position: relative;
        display: flex;
        justify-content: space-between;
    }
    .text-nav {
        display: flex;
        padding-left: 10px;
    }
    .navlinks {
        display: flex !important;
        flex-direction: row;
        justify-content: flex-end;
    }

    .navlink {
        padding: 0.8rem;
    }
    
    .menu-btn {
        display: none;
    }
    
}
@media all and (min-width:768px) and (max-width: 1024px){
    
}
@media all and (min-width:1024px) and (max-width: 1280px){
    .navigation-menu {
        position: relative;
        display: flex;
        justify-content: space-between;
    }
    .text-nav {
        display: flex;
        padding-left: 10px;
    }
    .navlinks {
        display: flex !important;
        flex-direction: row;
        justify-content: flex-end;
    }

    .navlink {
        padding: 0.8rem;
    }
    
    .menu-btn {
        display: none;
    }

}


