@import 'color.css';
/* Meetup Description Styling. */
.meetup-details {
    width: 100%;
    display: inline-block;
    border-bottom:solid 1px rgba(0, 0, 0, 0.2);
    
}
.meetup-details .meetup-thumbnail {
    width: 100%;
    margin-top: -1.25rem;
}
.meetup-description {
    padding: .625rem;
}
.container {
    width: 100%;
}

/* Styling Posted Questions */
.question-list, .comment-list {
    list-style-type: none;
    width: 100%;
    margin: 0 auto;
}
.user-details {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
}
.avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    padding: 1.625rem;

}
.heading {
    display: block;
    border-bottom:solid 1px rgba(0, 0, 0, 0.2);
    text-align: center;
    
}
.add-question {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: solid 1px var(--component-color);
    border-radius: .3125rem;
    padding: .8rem;
    margin: .4rem;
    position: relative; 
    
}
.add-question #qn-box {
    margin-bottom: 2%;
}
/* Styling Votes */
.question-votes {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: .4rem .625rem;
}
.question-votes .upvote {
    padding: 0 .4rem;
}
.question-votes .downvote {
    padding-left: 1.25rem;
}
/* Styling Comments */
.comment-list {
    border-left: solid 3px rgba(0, 0, 0, 0.2);
}
.comment-box label {
    display: block;
}
.comment-box button {
    display: block;
}
#comments {
    outline: none;
}
#comments:focus {
    border: solid .0625rem var(--component-color);
}