.meetup-details {
    width: 100%;
   

    
}
.meetup-details .meetup-thumbnail {
    width: 100%;
    display: block;
    position: relative;

}

.meetup-description .meetup-header .text-primary {
    font-weight: bold;
    text-decoration: underline;

}